<div class="page-header">
  <h1>Add Issue</h1>
</div>

<%= nested_form_for [@project, @workflow, @issue] do |f| %>
  <% if@issue.errors.any? %>
    <% @issue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <%end%>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :assigned_to %>
    <%= f.select :assigned_to, @users.map{ |user| [user.name, user.id] },:prompt => "Please select" %>
  </div>
  <div >
    <%= f.label :started_on %>
    <%= f.text_field :started_on,  class: 'datepicker1', id: 'dp1' %>
  </div>
  <div>
    <%= f.label :completed_by %>
    <%= f.text_field :completed_by,  class: 'datepicker2', id: 'dp2' %>
  </div>
  <div>
    <%= f.label :estimate %>
    <%= f.text_field :estimate %>
  </div>

  <div>
    <%= f.fields_for :attachments do |attachment_form| %>
      <%= attachment_form.label :attachment %>
      <%= attachment_form.file_field :avatar %>
      <%= attachment_form.link_to_remove "Remove this member" %>
    <%end%>
    <%= f.link_to_add "Add a attachment", :attachments %>
  </div>


  <%= f.submit "submit", class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

var checkin = $('#dp1').datepicker({

    beforeShowDay: function (date) {
        return date.valueOf() >= now.valueOf();
    },
    autoclose: true

}).on('changeDate', function (ev) {
    if (ev.date.valueOf() > checkout.datepicker("getDate").valueOf()) {
        var newDate = new Date(ev.date);
        newDate.setDate(newDate.getDate() + 1);
        checkout.setValue(newDate);
        checkout.setDate(newDate);
        checkout.update();
    }
    $('#dp2')[0].focus();
});
var checkout = $('#dp2').datepicker({
    beforeShowDay: function (date) {
        return date.valueOf() > checkin.datepicker("getDate").valueOf();
    },
    autoclose: true

}).on('changeDate', function (ev) {});
</script>







