<div class= "page-header">
  <h1><%= @issue.title.capitalize %></h1>
  <div>
    Description : <%= @issue.description.capitalize %><br>
    <% @issue.attachments.each do |attachment| %>
           <% if %w{jpg png gif bmp pdf jpeg jfif exif tiff rif webp}.include?(attachment.avatar.file.extension.downcase) %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Show</button>
          <% else %>
            <%= link_to "Download", attachment.avatar_url, class: "btn btn-primary"%>
          <% end %>
        <% end %>
  </div>
</div>
<% @comments.each do |issue_comment|%>
  User : <%= issue_comment.user.name%><br>
  Comment : <%= issue_comment.comment%><br>
<%end%>
<br>
<br>
<%= form_tag add_comment_issue_path(@issue) do %>

  <%= label_tag "Comment's title " %>
  <%= text_field_tag "title" %>

  <%= label_tag "Add Comment" %>
  <%= text_area_tag 'comment', nil, size: "30x7"%>

  <div><%= submit_tag "Add Comment", class: "btn btn-primary"%></div>
<% end %>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @issue.title %></h4>
      </div>
      <div class="modal-body">
        <% @issue.attachments.each do |attachment| %>
           <% if %w{jpg png gif bmp pdf jpeg jfif exif tiff rif webp}.include?(attachment.avatar.file.extension.downcase) %>
            <iframe src= '<%= attachment.avatar_url %>' width="500" height="500"> </iframe>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
