<%= nested_form_for [@user, @project] do |f| %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <%end%>
  <p>
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Description %>
    <%= f.text_area :description %>
  </p><hr>
  <h4>Add Team Member</h4>
  <%= f.fields_for :teams do |team_form| %>
    <%= f.label :Email %>
    <%= team_form.text_field :email %>
    <%= team_form.select :access_level, [["Developer","Developer"]]%>
    <%= team_form.link_to_remove "Remove this member" %>
  <% end %>
  <%= f.link_to_add "Add a team", :teams %>
  <br></br>
  <hr>
  <h4>Add Work Flow</h4>
  <%= f.fields_for :workflows do |workflow_form| %>
    <%= workflow_form.text_field :name %>
    <%= workflow_form.link_to_remove "Remove this member" %>
  <%end%>
  <%= f.link_to_add "Add a workflow", :workflows %>
  <p>
    <%= f.submit "Add project" %>
  </p>
<% end %>
