<div class="page-header">
  <h1> Project Board </h1>
</div>
<div>
  <% if backlog_workflow(@project).present? %>
    <%= link_to "List Backlog", project_workflow_path( @project.id, backlog_workflow(@project).id ) %>
  <% end %>
  <% if closed_workflow(@project).present? %>
    <%= link_to "List Closed", project_workflow_path(@project.id, closed_workflow(@project).id ) %>
  <%end%>
</div>
<div class="catalog">
  <% @project.teams.each do |team| %>
    <% if team.user.present? %>
      <li id="<%= team.user.id %>"><%= team.user.name %></li>
    <% end %>
  <%end%>
</div>

<%= render partial: "workflows"%>

